
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  border-radius: 10px
  /* centers element with title class */
}
section, footer{
  padding:10px;
  margin: 5px;
  background-color:black;
  border-radius: 15px;
  /* changes <section> and <footer> elements background colours to black and creates border around them */
}
h1 {
  font-size: 0.9cm;
  margin:5px;
  text-align:center;
  font-family: arial
  /* centers text in <h1> element and changes font to arial and 0.9cm */
}
h2 {
  text-decoration: underline;
  font-size: 0.7cm;
  text-align: center;
  /* underlines and centers text in <h2> element and changes font size to 0.7cm */
}
p {
  margin: 3px;
  text-align:center;
  font-size:0.5cm;
  display: block;
  /* centers text in <p> element and changes font size to 0.6cm */
}

nav{
  background-color: crimson;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: 0.55cm;
  /* changes font size to 0.55cm within nav element and centers text within border created */
}
nav a{
  margin: 3px;
  text-decoration: none;
  text-align: center;
  color:black;
  cursor: pointer;
  padding: 14px 12px;
  /* centers and colours text black in <a> within the <nav> element and when users mouse hovers over them it creates a pointer */
}

body {
  font-family: sans-serif;
  color:crimson;
  background-color: #383838;
  /* makes background colour grey and changes font to sans serif and crimson */
}
h3 {
  color: crimson;
  padding:2px;
  text-decoration: underline;
  margin:0
  /* makes font in <h3> crimson and underlines */
}
a {
  text-decoration: none;
  color: crimson;
  /*makes font surrounded in <a> crimson and removes text decoration*/
}
aside {
  padding: 5px;
  margin: 7px;
  text-align:center;
  /* centers text of those in aside function and space between other*/
}
span{
  font-weight: bold;
  /* makes text with surrounded by <span> bold */
}
.size {
  max-width: 20%;
  border-radius: 10px;
  padding:3px;
  float: left;
  clear: both;
  /* used to change size of image and create border around image and text */
}
.cast{
  float: left;
  display: block;
  /* this was used to make the text sit next to the images in the sections with the cast class*/
}

.border {
  border-radius: 15px;
  border-style: solid;
  margin:10px;
  border-width: 8px;
  /* this creates a rounded solid border around certain things with the border class */
}
